In [1]:
import numpy as np
import pandas as pd

## Preprocessing the data: Combining the datasheets over years

In [2]:
fifteen = pd.read_csv("2015.csv")
sixteen = pd.read_csv("2016.csv")
seventeen = pd.read_csv("2017.csv")
eighteen = pd.read_csv("2018.csv")
nineteen = pd.read_csv("2019.csv")

In [3]:
seventeen = seventeen.rename(columns = {
    'Happiness.Rank':'Happiness Rank', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)', 
    'Health..Life.Expectancy.':'Health (Life Expectancy)','Trust..Government.Corruption.':'Trust (Government Corruption)'
})

eighteen = eighteen.rename(columns = {
    'Country or region':'Country', 'Overall rank':'Happiness Rank', 'GDP per capita':'Economy (GDP per Capita)',
    'Social support':'Family', 'Healthy life expectancy':'Health (Life Expectancy)', 'Freedom to make life choices':'Freedom',
    'Perceptions of corruption':'Trust (Government Corruption)'
})
nineteen = nineteen.rename(columns = {
    'Country or region':'Country', 'Overall rank':'Happiness Rank', 'GDP per capita':'Economy (GDP per Capita)',
    'Social support':'Family', 'Healthy life expectancy':'Health (Life Expectancy)', 'Freedom to make life choices':'Freedom',
    'Perceptions of corruption':'Trust (Government Corruption)'
})

In [4]:
dfs = [fifteen, sixteen, seventeen, eighteen, nineteen]

In [5]:
for df in dfs:
    print(df.columns)

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
Index(['Country', 'Happiness Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)', 'Dystopia.Residual'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Score', 'Economy (GDP per Capita)',
       'Family', 'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)'],
      dtype='object')
Index(['Happiness Rank', 'Country', 'Score', 'Economy (GDP per Capita)',
       'Family', 'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Trust (Government Corruption)'],
      dtype='object')

In [10]:
df.shape

(780, 10)

In [11]:
df.isna().sum()

index                              0
Country                            0
Region                           465
Happiness Rank                     0
Economy (GDP per Capita)           0
Family                             0
Health (Life Expectancy)           0
Freedom                            0
Trust (Government Corruption)      1
Generosity                         0
dtype: int64

In [15]:
df.head()

,index,Country,Region,Happiness Rank,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,153,Afghanistan,Southern Asia,154,0.382270,0.110370,0.173440,0.16430,0.071120,0.312680
1,152,Afghanistan,Southern Asia,153,0.319820,0.302850,0.303350,0.23414,0.097190,0.365100
2,144,Afghanistan,NaN,145,0.332000,0.537000,0.255000,0.08500,0.036000,0.191000
3,153,Afghanistan,NaN,154,0.350000,0.517000,0.361000,0.00000,0.025000,0.158000
4,140,Afghanistan,NaN,141,0.401477,0.581543,0.180747,0.10618,0.061158,0.311871

In [19]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Haiti', 'Honduras', 'Hong Kong',
       'Hong Kong S.A.R., China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'Somaliland Region', 'Somaliland region',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Taiwan Province of China', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad & Tobago', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [ ]:
df = pd.concat(dfs)
df =df.sort_values(by = ['Country'])
df = df.drop(columns=['Happiness Score','Standard Error','Dystopia Residual','Lower Confidence Interval','Upper Confidence Interval','Happiness.Score','Whisker.high','Whisker.low','Dystopia.Residual','Score',])
df = df.reset_index()

In [20]:
df = df.drop(index=df.iloc[np.where(df['Country'] == 'Northern Cyprus')[0]].index)
df = df.drop(index=df.iloc[np.where(df['Country'] == 'Northern Macedonia')[0]].index)

,index,Country,Region,Happiness Rank,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,153,Afghanistan,Southern Asia,154,0.382270,0.110370,0.173440,0.164300,0.071120,0.312680
1,152,Afghanistan,Southern Asia,153,0.319820,0.302850,0.303350,0.234140,0.097190,0.365100
2,144,Afghanistan,NaN,145,0.332000,0.537000,0.255000,0.085000,0.036000,0.191000
3,153,Afghanistan,NaN,154,0.350000,0.517000,0.361000,0.000000,0.025000,0.158000
4,140,Afghanistan,NaN,141,0.401477,0.581543,0.180747,0.106180,0.061158,0.311871
...,...,...,...,...,...,...,...,...,...,...
777,143,Zimbabwe,NaN,144,0.357000,1.094000,0.248000,0.406000,0.099000,0.132000
778,145,Zimbabwe,NaN,146,0.366000,1.114000,0.433000,0.361000,0.089000,0.151000
779,114,Zimbabwe,Sub-Saharan Africa,115,0.271000,1.032760,0.334750,0.258610,0.080790,0.189870
780,130,Zimbabwe,Sub-Saharan Africa,131,0.350410,0.714780,0.159500,0.254290,0.085820,0.185030
781,137,Zimbabwe,NaN,138,0.375847,1.083096,0.196764,0.336384,0.095375,0.189143

In [29]:
df.shape

(777, 10)

In [31]:
combined_df = df.copy()

In [32]:
combined_df.to_csv('combined_happiness_data.csv', index=False)